button {
    width: 35px;
    height: 35px;
    margin: 0;
    background-color: mediumaquamarine;
    border-color: gainsboro;
}

.mine {
    background-color: white;
    background-image: url("../img/mine.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.flagged {
    background-color: mediumaquamarine;
    background-image: url("../img/flag.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.opened {
    background-color: white;
}

button:focus {
    outline: none;
}

table {
    border-collapse: collapse;
}

th {
    padding: 0;
    width: 15px;
    height: 15px;
    /*margin: 0;*/
    background-color: aliceblue;
}

th:enabled {

}